{% extends "CatQuestipedia/base-template.html" %}
{% load static %}

{% block title %} Characters {% endblock %}

{% block content %}
    <h3 class="character-header margin">{{ game }} Characters</h3>
        <h4 class="character-subheader margin">Ally Characters</h4>
        <section class="flex flex-row character-flex scroll-snap padding margin">
            {% for character in Gameid.characters.all %}
                {% if character.type == "ally" %}
                    <a href="{% url "character-detail" gameid=game characterid=character.name %}">
                        <img src="{{ character.image.url }}" alt="{{ character.image }}" height="{{ character.image.height }}" width="{{ character.image.width }}"/>
                        <p>{{ character.name }}</p>
                    </a>
                {% endif %}
            {% endfor %}
        </section>
        <h4 class="character-subheader margin">Enemy Characters</h4>
        <section class="flex flex-row character-flex scroll-snap padding margin">
            {% for character in Gameid.characters.all %}
                {% if character.type == "enemy" %}
                    <a href="{% url "character-detail" gameid=game characterid=character.name %}">
                        <img src="{{ character.image.url }}" alt="{{ character.name }}" height="{{ character.image.height }}" width="{{ character.image.width }}"/>
                        <p>{{ character.name }}</p>
                    </a>
                {% endif %}
            {% endfor %}
        </section>
        <h4 class="character-subheader margin">Side Characters</h4>
        <section class="flex flex-row character-flex scroll-snap padding margin">
            {% for character in Gameid.characters.all %}
                {% if character.type == "side" %}
                    <a href="{% url "character-detail" gameid=game characterid=character.name %}">
                        <img src="{{ character.image.url }}" alt="{{ character.name }}" height="{{ character.image.height }}" width="{{ character.image.width }}"/>
                        <p>{{ character.name }}</p>
                    </a>
                {% endif %}
            {% endfor %}
        </section>
{% endblock %}