{% extends "CatQuestipedia/base-template.html" %}
{% load static %}

{% block title %} Characters {% endblock %}

{% block content %}
    <h4>{{ game }} Characters</h4>
    <div>
        <h5>Ally Characters</h5>
        <section>
            {% for character in Gameid.characters.all %}
                {% if character.type == "ally" %}
                    <div>
                        <a href="{% url "character-detail" gameid=game characterid=character.name %}">
                            <img src="{{ character.image.url }}" alt="{{ character.image }}">
                            <p>{{ character.name }}</p>
                        </a>
                    </div>
                {% endif %}
            {% endfor %}
        </section>
        <h5>Enemy Characters</h5>
        <section>
            {% for character in Gameid.characters.all %}
                {% if character.type == "enemy" %}
                    <div>
                        <a href="{% url "character-detail" gameid=game characterid=character.name %}">
                            <img src="{{ character.image.url }}" alt="{{ character.name }}">
                            <p>{{ character.name }}</p>
                        </a>
                    </div>
                {% endif %}
            {% endfor %}
        </section>
        <h5>Side Characters</h5>
        <section>
            {% for character in Gameid.characters.all %}
                {% if character.type == "side" %}
                    <div>
                        <a href="{% url "character-detail" gameid=game characterid=character.name %}">
                        <img src="{{ character.image.url }}" alt="{{ character.name }}">
                        <p>{{ character.name }}</p>
                        </a>
                    </div>
                {% endif %}
            {% endfor %}
        </section>
    </div>
{% endblock %}