{% extends 'CatQuestipedia/base-template.html' %}
{% load static %}
{% load kebabify %}

{% block content %}
    <p>{{ location.name }}: {{ location.type }}</p>
    <ul>
        <li>Normal Chests: {{ location.normal_chests }}</li>
        <li>Key Chests: {{ location.key_chests }}</li>
        <li>Completion Chests: {{ location.completion_chests }}</li>
    </ul>
    <ul>
        {% for enemy in location.enemies_there.all %}
            <li>{{ enemy.name }}</li>
        {% endfor %}
    </ul>
    <ul>
        {% for enemy in location.mew_game_enemy.all %}
            <li>{{ enemy.name }}</li>
        {% endfor %}
    </ul>
    <section>
        {% if location.user_edits %}
            {{ location.user_edits|safe }}<br/>
        {% endif %}
        Think something's missing? Make an <a href="{% url 'item_edit' gameid=game modelid='Locations' itemid=location.name %}">edit</a>!
    </section>
{% endblock %}
