{% extends "CatQuestipedia/base-template.html" %}
{% load static %}
{% load kebabify %}

{% block content %}
    <div class="main-height flex flex-center-v">
        {% if user.is_authenticated %}
            <form method="POST" class="article-content-2 padding flex flex-center-h flex-column eighty-width">
                {% csrf_token %}
                <div class="margin">
                    <label>Playthrough Name:</label>
                    <input type="text" name="playthrough-name"/>
                </div><hr/>
                <div class="margin">
                    <label>Game:</label>
                    <select name="playthrough-game">
                        {% for item in Game %}
                            <option name="{{ item.title }}">{{ item.title }}</option>
                        {% endfor %}
                    </select>
                </div><hr/>
                <input type="submit" value="Submit" class="margin"/>
            </form>
        {% else %}
        {% comment %} Something here. {% endcomment %}
        {% endif %}
    </div>
{% endblock %}
