{% extends "CatQuestipedia/base-template.html" %}
{% load static %}
{% load kebabify %}

{% block content %}
    <h3 class="padding">Profile Page</h3>
    {% if user.is_authenticated %}
        {% for playthrough in playthroughs %}
            <a class="margin playthrough-card" href="{% url 'mass_update' id=playthrough.playthrough.id %}">
                <h4>{{ playthrough.playthrough.name }}: {{ playthrough.playthrough.game }}</h4>
                <h5>Completion Level: {{ playthrough.completeness }}%</h5>
                <section>
                    <h5>Equipment</h5>
                    <div class="flex flex-row">
                        {% for user_equipment in playthrough.playthrough.user_equipment.all %}
                            <div class="padding">
                                {% with 'images/equipment/'|add:user_equipment.equipment.image  as image_static %}
                                    <img src="{% static image_static %}" alt="{{ user_equipment.equipment }}" class="padding profile-equipment-img"/>
                                {% endwith %}
                                <p class="flex flex-center-h">{{ user_equipment.equipment }}</p>
                            </div>
                            {% empty %}
                            <p class="padding">You don't have any equipment in this playthrough yet.</p>
                        {% endfor %}
                    </div>
                </section>
                <section>
                    <h5>Spells</h5>
                    {% for user_spell in playthrough.playthrough.user_spells.all %}
                        <p>{{ user_spell.spell }}</p>
                        {% empty %}
                        <p class="padding">You haven't learned any spells in this playthrough yet.</p>
                    {% endfor %}
                </section>
                <section>
                    <h5>Quests</h5>
                    {% for user_quest in playthrough.playthrough.user_quests.all %}
                        <p>{{ user_quest.quest }}</p>
                        {% empty %}
                        <p class="padding">You haven't completed any quests in this playthrough yet.</p>
                    {% endfor %}
                </section>
            </a>
        {% endfor %}
        <a href="{% url 'new_playthrough' %}" class="margin playthrough-card">Create a New Playthrough</a>
    {% else %}
        <p>You must be <a href="/login">logged in</a> to view this page.</p>
    {% endif %}
{% endblock %}